.DS_Store
.DS_Store?
._*
.Trashes
Icon?
ehthumbs.db
Thumbs.db

.git/
*.exe
*.tmp
.idea/*.xml
.idea
*.ini
nohup.out
var/
tmp
bin/
*/bin/*
.idea/*
/.idea/
/.idea/..
/auth
vendor/
debug*
info*
config.dump*
.debug*
log/
.nohup.out.swp
log/*
log
log-info
.out
config/config-*.json
config/cert
.vscode/*
__debug_bin
logger/*
logger-*
logger/logger-info.20200203
leveldb/*
uploaded/*
testdata/*
pic/*
*.log
ssl-keylog.txt
go.work
go.work.sum
picture/
go.work
go.work.sum


tmp/*
upload/
faceid/*
backup/
log_archive/
.offset.csv
config/.offset_handler.csv
config/config-dev.json
config/apn/*
static/*/*
